@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  width: 100%;
  min-height: 100vh;
}

#root {
  overflow: hidden;
  position: relative;
  background: radial-gradient(circle at bottom, rgb(183 29 255 / 20%), transparent) fixed;
}